.before-body { 
    background-color: #ff66c4; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.after-body { 
    background: url(media/birthday-cake-candles-112787.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

#text-msg{
    position: absolute; 
    bottom: 200px;
    text-align: center;
}

#msg {
    font-family: 'Margarine', cursive;
    font-size: 50px;
}
